.main {
  margin: 100px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll {
  max-height: 47vh;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
}

.scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.item {
  display: flex;
  align-items: center;
}

.section {
  display: inline-block;
  flex: 0 0 600px;
  padding: 0 20px;
}

.total_order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.total_order span {
  display: flex;
  align-items: center;
}

.total_order svg {
  margin-left: 9px;
}

.constructor_item {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  background: #2f2f37;
  min-width: 488px;
  min-height: 48px;
  font-family: "Jet Brains Mono";
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3;
}

.constructor_item_pos_top {
  border-radius: 88px 88px 40px 40px;
  margin-bottom: 20px;
}

.constructor_item_pos_bottom {
  border-radius: 40px 40px 88px 88px;
  margin-top: 20px;
}

.constructor_item__row {
  margin: 10px 0 10px 0;
}
