.main {
  margin: 100px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll {
  height: 47vh;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.item {
  margin-bottom: 16px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.section {
  display: inline-block;
  flex: 50%;
}

.total_order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.total_order span {
  display: flex;
  align-items: center;
}

.total_order svg {
  margin-left: 9px;
}
