.header {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  list-style: none;
  position: relative;
  flex: 0 1 1300px;
}

.menu a {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #8585ad;
}

/* .menu a:not(:last-child) {
  margin-right: 50px;
} */

.menu svg {
  margin-right: 9px;
}

.menu .active {
  color: #f2f2f3;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}

.nav_div {
  display: flex;
}
